.episode {
  margin: 48px 0;
  padding: 0;
  position: relative;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 auto;
}

.episodeTitle {
  font-size: var(--text-size-lg);
  font-weight: 600;
  margin: 0;
}

.episodeMetadata {
  color: var(--color-gray-600);
  font-size: var(--text-size-sm);
  margin: 0 0 6px 0;
}

.episodeDescription {
  margin: 0;
}

.episodeLinks {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 24px 0 0;
}

.episodeLinks * {
  margin-right: 12px;
}

.episodeImage {
  position: relative;
  flex: 1 auto;
  max-width: 100%;
  height: auto;
  margin: 0 0 12px 0;
}

.tiny {
  font-size: var(--text-size-xs);
  padding: 0 4px;
}

@media only screen and (min-width: 768px) {
  .episode {
    padding: 0 0 0 280px;
    justify-content: center;
  }
  .episodeImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 256px;
    width: 256px;
    margin: unset;
  }
}
