.small {
  font-size: 12px;
  margin-top: 32px;
}

.button {
  font-family: "Oaxaca";
}

.App {
  color: var(--color-primary-white);
  display: flex;
  justify-content: center;
}

.appShell {
  display: grid;
  grid-template-columns: 42px 1fr 42px;
  grid-template-rows: 148px auto 148px;
  grid-template-areas:
    "header header header"
    "side-l content side-r"
    "footer-l footer footer-r";
  column-gap: 0;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0;
}

.siteHeader {
  grid-area: header;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.siteLogo img {
  height: 56px;
  width: auto;
}

.siteLogo a {
  color: var(--color-primary-white);
  text-decoration: none;
}

.siteLogo a:hover {
  text-decoration: none;
}

.siteNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Oaxaca";
  font-size: 12px;
  margin: 12px 0 0;
  padding: 0 48px;
}

.siteNav a {
  text-decoration: none;
  color: var(--color-primary-white);
  padding: 0 8px 6px 8px;
}

.siteNav a:hover {
  text-decoration: underline;
}

.sidebarL {
  grid-area: side-l;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarR {
  grid-area: side-r;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarL img,
.sidebarR img {
  width: 27%;
  height: auto;
}

.siteContent {
  grid-area: content;
}

.siteFooter {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.streamingLinks {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.streamingIcon {
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  color: var(--color-primary-white);
}

.streamingIcon img {
  height: 16px;
}

.footerL {
  font-family: "Oaxaca";
  grid-area: footer-l;
  font-size: 24px;
  color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerR {
  font-family: "Oaxaca";
  grid-area: footer-r;
  font-size: 24px;
  color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .appShell {
    grid-template-columns: 98px 1fr 98px;
    grid-template-rows: 212px auto 215px;
  }

  .siteLogo img {
    height: 64px;
  }

  .siteNav {
    font-size: 16px;
  }

  .sidebarL img,
  .sidebarR img {
    width: unset;
  }

  .siteFooter {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .streamingIcon img {
    height: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .appShell {
    grid-template-columns: 148px 1fr 148px;
    grid-template-rows: 212px auto 215px;
  }
}

@media only screen and (min-width: 1440px) {
  .appShell {
    grid-template-columns: 270px 1fr 270px;
    grid-template-rows: 300px auto 215px;
  }

  .siteLogo img {
    height: 96px;
  }

  .siteNav {
    font-size: 18px;
    margin: 34px 0 0;
  }

  .streamingIcon img {
    height: unset;
  }

  .siteContent {
    min-width: 900px;
  }
}
