.showRow {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: var(--text-size-md);
  padding: 6px 0;
  margin: 12px 0;
}

.cityState:before,
.playing-with:before {
  display: none;
}

.cityState,
.date {
  text-transform: uppercase;
  white-space: nowrap;
}

.date {
  font-weight: 600;
}

.playingWith {
  flex: 1;
  white-space: nowrap;
}

.tiny {
  font-size: var(--text-size-sm);
  margin-right: 3px;
}

.basicShowInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .showRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: var(--text-size-md);
    padding: 6px 0;
    margin: unset;
  }

  .basicShowInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 32px;
  }

  .cityState:before,
  .playingWith:before {
    color: var(--color-accent);
    font-family: "Oaxaca";
    content: "*";
    padding: 0 18px;
    position: relative;
    top: 8px;
    display: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .showRow {
    font-size: var(--text-size-lg);
  }

  .cityState:before,
  .playingWith:before {
    top: 10px;
  }
}
