.bioGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title  title title title title title"
    "copy copy  copy  copy  copy  copy"
    "creds  creds creds creds creds creds";
  grid-gap: 6px;
}

.articleTitle {
  grid-area: title;
  letter-spacing: -1px;
}

.articleBody {
  grid-area: copy;
}

.imgL {
  margin: 12px 0;
  float: left;
  max-width: 100%;
  height: auto;
}

.imgR {
  margin: 12px 0;
  float: right;
  max-width: 100%;
  height: auto;
}

.imgContainer {
  max-height: 269px;
  width: auto;
  display: block;
}

@media only screen and (min-width: 768px) {
  .imgContainer {
    max-height: 184px;
  }

  .imgL {
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: calc(-1 * (100% / 4 + 4px));
    float: left;
  }

  .imgR {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: calc(-1 * (100% / 4 + 4px));
    float: right;
  }

  .bioGrid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title-l  title title title title title-r"
      "gutter-l copy  copy  copy  copy  gutter-r"
      "creds    creds creds creds creds creds";
  }
}

@media only screen and (min-width: 1024px) {
  .imgContainer {
    max-height: 269px;
  }
}
