.homeGrid {
  margin: 0;
  display: flex;
}

.homeContent {
  max-width: 100%;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}

.headlineImg {
  margin-top: 24px;
}

.description {
  font-size: 29px;
  letter-spacing: -1.25px;
  margin: 10px 0 0 10px;
}

.headlineBlocks {
  font-family: "Oaxaca";
  margin: 36px 0 0;
  line-height: 0.9;
}

.headlineBlocks p {
  margin: 0;
  text-align: center;
}

.headlineBlock1 {
  font-size: 13vw;
  letter-spacing: -1vw;
}

.headlineBlock2 {
  font-size: 4.3vw;
  padding-bottom: 4px;
}

.headlineBlock3 {
  font-size: 13.6vw;
  letter-spacing: -1vw;
}

.headlineBlock4 {
  font-size: 2.8vw;
  line-height: 1;
}

@media only screen and (min-width: 1440px) {
  .headlineBlock1 {
    font-size: 161px;
    letter-spacing: -8px;
  }

  .headlineBlock2 {
    font-size: 51px;
  }

  .headlineBlock3 {
    font-size: 155px;
    letter-spacing: -8px;
  }

  .headlineBlock4 {
    font-size: 35px;
    line-height: unset;
    letter-spacing: -1px;
  }
}
