.homeGrid {
  margin: 0;
  display: flex;
}

.homeContent {
  max-width: 100%;
  justify-content: center;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}

.headlineImg {
  /* margin-top: 24px; */
  display: flex;
  justify-content: center;
}

.description {
  font-size: 29px;
  letter-spacing: -1.25px;
  margin: 10px 0 0 10px;
}

.headlineBlocks {
  font-family: "VCTR Mono";
  font-size: var(--text-size-title-sm);
  margin: 128px 0 0;
}

@media only screen and (min-width: 1440px) {
  /* .headlineBlock1 {
    font-size: 161px;
    letter-spacing: -8px;
  }

  .headlineBlock2 {
    font-size: 51px;
  }

  .headlineBlock3 {
    font-size: 155px;
    letter-spacing: -8px;
  }

  .headlineBlock4 {
    font-size: 35px;
    line-height: unset;
    letter-spacing: -1px;
  } */
}
