.showsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title title title title title title"
    "copy   copy  copy  copy  copy  copy"
    "creds creds creds creds creds creds";
}

.articleTitle {
  grid-area: title;
}

.shows {
  grid-area: copy;
}

.upcomingShowsList {
  list-style-type: none;
  margin: 32px 0;
  padding: 0;
}

.booking {
  text-align: center;
  justify-content: center;
  margin: 128px 0;
}

.emailLink {
  text-transform: lowercase;
}

.bookingCopy {
  font-size: var(--text-size-main);
  text-transform: uppercase;
}

.divider {
  font-family: "Oaxaca";
  font-size: 24px;
}

.pastShowsList {
  list-style-type: none;
  margin: 12px 0;
  padding: 0;
}
