.contactGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title title title title title title"
    "copy  copy  copy  copy  copy  copy"
    "creds creds creds creds creds creds";
  grid-gap: 6px;
}

.articleTitle {
  grid-area: title;
}

.section {
  grid-area: copy;
  margin-bottom: 64px;
  line-height: 1.2;
}

.otherEmails {
  margin-top: 64px;
}

.otherEmails .contactInfo,
.otherEmails p {
  margin: 0;
}

.formContainer {
  padding: 12px;
  background: rgba(30,30,30,.8);
}

@media only screen and (min-width: 768px) {
  .contactGrid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title-l  title title title title title-r"
      "gutter-l copy  copy  copy  copy  gutter-r"
      "creds    creds creds creds creds creds";
  }

  .formContainer {
    padding: 48px;
  }
}
