.bio-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title  title title title title title"
    "copy copy  copy  copy  copy  copy"
    "creds  creds creds creds creds creds";
  grid-gap: 20px;
}

.article-title {
  grid-area: title;
  letter-spacing: -1px;
}

.article-body {
  grid-area: copy;
}

.img-l {
  margin: 12px 0;
  float: left;
  max-width: 100%;
  height: auto;
}

.img-r {
  margin: 12px 0;
  float: right;
  max-width: 100%;
  height: auto;
}

.img-container {
  max-height: 269px;
  display: block;
}

@media only screen and (min-width: 768px) {
  .img-container {
    max-height: 184px;
  }

  .img-l {
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: calc(-1 * (100% / 4 + 4px));
    float: left;
  }

  .img-r {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: calc(-1 * (100% / 4 + 4px));
    float: right;
  }

  .bio-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title-l  title title title title title-r"
      "gutter-l copy  copy  copy  copy  gutter-r"
      "creds    creds creds creds creds creds";
  }
}
