html {
  --color-primary-black: #35292b;
  --color-primary-white: #fffffa;
  --color-true-white: #fff;
  --color-accent: #af2b38;

  --text-size-title: 36px;
  --text-size-title-sm: 24px;
  --text-size-main: 18px;
  --text-size-small: 12px;

  --font-family-primary: "Oajaca";
  --font-family-secondary: "Mojave";
}

h1 {
  font-size: var(--text-size-title-sm);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h2,
.subheading {
  font-size: var(--text-size-title-main);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 24px;
}

.body-copy {
  font-family: "VCTR Mono";
  font-weight: 400;
  letter-spacing: unset;
  line-height: 1.333;
  font-size: var(--text-size-main);
}

.tiny {
  font-size: var(--text-size-small);
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: var(--text-size-title);
  }

  .body-copy {
    font-size: var(--text-size-main);
  }
}
