.contact-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title title title title title title"
    "copy  copy  copy  copy  copy  copy"
    "creds creds creds creds creds creds";
  grid-gap: 6px;
}

.article-title {
  grid-area: title;
}

.section {
  grid-area: copy;
  margin-bottom: 64px;
  /* padding-right: 248px; */
  line-height: 1.2;
}

.email-form {
  font-family: "VCTR Mono";
  display: flex;
  flex-direction: column;
}

.email-form input {
  font-family: "VCTR Mono";
  font-size: 24px;
  padding: 8px 12px 4px 12px;
  margin: 6px 0;
}

.email-form button {
  font-family: "VCTR Mono";
  font-size: 24px;
  text-transform: uppercase;
  padding: 8px 12px 4px 12px;
  background: #383838;
  color: #fff;
  border-radius: 4px;
  border: 0;
}

.other-emails {
  margin-top: 64px;
}

.other-emails .contact-info,
.other-emails p {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .contact-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title-l  title title title title title-r"
      "gutter-l copy  copy  copy  copy  gutter-r"
      "creds    creds creds creds creds creds";
  }
}
