.home-grid {
  margin: 0;
  display: flex;
}

.home-content {
  max-width: 100%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.headline-img {
  margin-top: 24px;
}

a {
  color: #af2b38;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.description {
  font-size: 29px;
  letter-spacing: -1.25px;
  margin: 10px 0 0 10px;
}

.headline-blocks {
  margin: 0;
}

.headline-blocks p {
  margin: 0;
  text-align: center;
}

.headline-block-1 {
  font-size: 13vw;
  letter-spacing: -1vw;
}

.headline-block-2 {
  font-size: 4vw;
  padding-bottom: 4px;
}

.headline-block-3 {
  font-size: 13vw;
  letter-spacing: -1vw;
}

.headline-block-4 {
  font-size: 3.6vw;
  line-height: 1.4;
}

@media only screen and (min-width: 1440px) {
  .headline-block-1 {
    font-size: 161px;
    letter-spacing: -8px;
  }

  .headline-block-2 {
    font-size: 53px;
  }

  .headline-block-3 {
    font-size: 161px;
    letter-spacing: -8px;
  }

  .headline-block-4 {
    font-size: 28px;
    line-height: unset;
  }
}
