.home-grid {
  margin: 0;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.headline-img {
  margin-top: 24px;
}

a {
  color: #af2b38;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.description {
  font-size: 29px;
  letter-spacing: -1.25px;
  margin: 10px 0 0 10px;
}
