html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #333;
  font-family: "VCTR Mono", "Courier", "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Oaxaca";
  src: local("Oaxaca"), url(./fonts/Oaxaca.eot),
    url(./fonts/Oaxaca.svg) format("svg"),
    url(./fonts/Oaxaca.woff) format("woff"),
    url(./fonts/Oaxaca.woff2) format("woff2"),
    url(./fonts/Oaxaca.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: "Mojave";
  src: local("Mojave"), url(./fonts/Mojave.eot),
    url(./fonts/Mojave.svg) format("svg"),
    url(./fonts/Mojave.woff) format("woff"),
    url(./fonts/Mojave.woff2) format("woff2"),
    url(./fonts/Mojave.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: "Sonoma";
  src: local("Sonoma"), url(./fonts/Sonoma.eot),
    url(./fonts/Sonoma.svg) format("svg"),
    url(./fonts/Sonoma.woff) format("woff"),
    url(./fonts/Sonoma.woff2) format("woff2"),
    url(./fonts/Sonoma.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: "VCTR Mono";
  src: local("VCTR Mono"),
    url(./fonts/VCTR-Mono-v0.10-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VCTR Mono";
  src: local("VCTR Mono"),
    url(./fonts/VCTR-Mono-v0.10-RegularItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "VCTR Mono";
  src: local("VCTR Mono"),
    url(./fonts/VCTR-Mono-v0.10-Light.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "VCTR Mono";
  src: local("VCTR Mono"),
    url(./fonts/VCTR-Mono-v0.10-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "VCTR Mono";
  src: local("VCTR Mono"),
    url(./fonts/VCTR-Mono-v0.10-Black.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
