html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #333;
  font-family: "Oaxaca", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Oaxaca";
  src: local("Oaxaca"), url(./fonts/Oaxaca.eot),
    url(./fonts/Oaxaca.svg) format("svg"),
    url(./fonts/Oaxaca.woff) format("woff"),
    url(./fonts/Oaxaca.woff2) format("woff2"),
    url(./fonts/Oaxaca.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: "Mojave";
  src: local("Mojave"), url(./fonts/Mojave.eot),
    url(./fonts/Mojave.svg) format("svg"),
    url(./fonts/Mojave.woff) format("woff"),
    url(./fonts/Mojave.woff2) format("woff2"),
    url(./fonts/Mojave.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: "Sonoma";
  src: local("Sonoma"), url(./fonts/Sonoma.eot),
    url(./fonts/Sonoma.svg) format("svg"),
    url(./fonts/Sonoma.woff) format("woff"),
    url(./fonts/Sonoma.woff2) format("woff2"),
    url(./fonts/Sonoma.eot?#iefix) format("embedded-opentype");
}
