.show-row {
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 16px;
  padding: 6px 0;
}

.city-state:before,
.playing-with:before {
  display: none;
}

.city-state,
.date {
  text-transform: uppercase;
}

.date {
  font-weight: 600;
}

.playing-with,
.tiny {
  max-width: 32ch;
  overflow: hidden;
  white-space: nowrap;
}

.tiny {
  font-size: 12px;
  margin-right: 3px;
}

.basic-show-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .show-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    padding: 6px 0;
  }

  .basic-show-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 32px;
  }

  .city-state:before,
  .playing-with:before {
    color: var(--color-accent);
    font-family: "Oaxaca";
    content: "*";
    padding: 0 18px;
    position: relative;
    top: 8px;
    display: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .show-row {
    font-size: 20px;
  }

  .city-state:before,
  .playing-with:before {
    top: 10px;
  }
}
